/* ================= BEGIN EXPERTISE BLOCK ================= */
.expertise__block
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
    width: 100%;
}

.expertise__block__item
{
    width: 33.3333%;
    padding: 40px 30px 20px;
    border-right: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
}

@media screen and (min-width: 578px)
{
    .expertise__block__item:nth-child(3n) { border-right: 0; }
    .expertise__block__item:nth-child(n+4) { border-bottom: 0; }
}

@media screen and (max-width: 578px)
{
    .expertise__block__item
    {
        width: 50%;
        padding: 40px 30px 20px;
        border-right: 1px solid #dddddd;
        border-bottom: 1px solid #dddddd;
    }

    .expertise__block__item:nth-child(2n) { border-right: 0; }
    .expertise__block__item:nth-child(n+5) { border-bottom: 0; }
}
/* ================= END EXPERTISE BLOCK ================= */