/* ================= BEGIN FOOTER ================= */
.footer__container
{
    background: linear-gradient(to right, #090036cc, #311d5ecc), url('../img/footer.jpg');
    background-size: cover;
    height: 100%;
}

.footer__block
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.footer__block__item
{
    padding-left: 2rem;
    padding-right: 2rem;
    width: 33.333333%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.footer__list
{
    list-style: none;
    padding-left: 0;
}

.footer__list > li
{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.footer__list > li > img
{
    margin-right: 1rem;
    width: 24px;
}

.footer__input
{
    background-color: transparent;
}

.footer__button
{
    position: absolute;
    margin: 0;
    margin-left: 12px;
    padding: 5px 20px 5px 20px;
    border: none;
    background-color: #ffffff88;
}

.footer__socials
{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    padding-top: 1.5rem;
}

.footer__socials__item
{
    margin: 5px;
    width: 40px;
    height: 40px;
    border: 1px solid #fff;
    border-radius: 100%;
    transition: .5s ease;
}

.footer__socials__item:hover
{
    background: var(--color-main);
    border-color: var(--color-main);
}

.footer__socials__item > img { padding: 8px; }

.footer__bottom
{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer__bottom__nav
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    list-style: none;
}

.footer__bottom__nav > li { padding-right: 25px; }

.footer__bottom__nav > li > a { transition: .5s ease; }
.footer__bottom__nav > li > a:hover { color: var(--color-main); }

@media screen and (max-width: 1115px) and (min-width: 578px)
{
    .footer__block__item
    {
        width: 50%;
    }

    .footer__block__item:nth-child(3n)
    {
        width: 100%;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 578px)
{
    .footer__block__item
    {
        width: 100%;
    }
}

/* ================= END FOOTER ================= */